{%- liquid
  assign localization_font = '--menu-localization-font: var(--font-[localization_font]--family); ' | replace: '[localization_font]', settings.localization_font
  assign localization_font_size = '--menu-localization-font-size: [localization_font_size]; ' | replace: '[localization_font_size]', settings.localization_font_size
  assign color_shadow = '--color-shadow: rgb(var(--color-foreground-rgb) / var(--opacity-10-25));'
  assign form_style = localization_font | append: localization_font_size | append: color_shadow | append: block.settings.form_style
  assign show_language = settings.localization_show_language
  if localization.available_languages.size <= 1
    assign show_language = false
  endif
  assign show_country = settings.localization_show_country
  if localization.available_countries.size <= 1
    assign show_country = false
  endif
-%}

{% capture localization_markup %}
  {% if show_language and show_country == false %}
    <div class="dropdown-localization localization-block">
      {% render 'localization-form',
        show_country: show_country,
        show_language: show_language,
        localization_style: block.settings.localization_style,
        form_style: form_style,
        block_id: block.id
      %}
    </div>
  {% elsif show_country %}
    <dropdown-localization-component class="dropdown-localization localization-block">
      <button
        type="button"
        class="button dropdown-localization__button localization-selector link link--text"
        aria-expanded="false"
        aria-controls="dropdown-localization-results"
        ref="button"
        on:click="/toggleSelector"
        style="{{ localization_font }} {{ localization_font_size }}"
      >
        {% if show_country %}
          {% if settings.country_selector_style == true %}
            <span
              class="icon-flag"
              style="
                background-image: url({{- localization.country | image_url: width: 32 }});
                --size-shadow: 2px;
                --color-shadow: rgb(var(--color-foreground-rgb) / var(--opacity-30-60));
              "
            ></span>
          {% endif %}
          <span class="currency-code" data-testid="localization-currency-code">
            {{- localization.country.name -}}
          </span>
        {% endif %}
        <span class="visually-hidden" data-testid="localization-visually-hidden">
          {{- 'accessibility.localization_region_and_language' | t -}}
        </span>

        {% if show_country and show_language %}
          <span>/</span>
        {% endif %}

        {% if show_language %}
          <span>
            {{ localization.language.iso_code | upcase }}
          </span>
        {% endif %}
        <span class="svg-wrapper icon-caret">
          {{- 'icon-caret.svg' | inline_asset_content -}}
        </span>
      </button>

      <div
        class="localization-wrapper {{ block.settings.localization_position }}-bound color-{{ settings.popover_color_scheme }}"
        hidden
        ref="panel"
      >
        {% render 'localization-form',
          show_country: show_country,
          show_language: show_language,
          localization_style: block.settings.localization_style,
          form_style: form_style,
          block_id: block.id
        %}
      </div>
    </dropdown-localization-component>
  {% endif %}
{% endcapture %}

{{ localization_markup | strip }}

{% schema %}
{
  "name": "t:content.localization_region_and_language",
  "tag": null,
  "settings": [
  ],
  "presets": [
    {
      "name": "t:content.localization_region_and_language",
      "category": "t:categories.utilities"
    }
  ]
}
{% endschema %}
